.topbar {
  background-color: #f4f4f4;
  height: 4vh;
  width: 100%;
}

.logoText {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2a2b40;
}
.navlist {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navlistItem {
  padding: 0 1rem;
  height: inherit;
  position: relative;
}

.textColor {
  color: #2a2b40;
}

.navlogoItems {
  position: absolute;
  margin-right: "3rem";
}

.icon {
  margin-right: 8px;
  color: #2a2b40;
}

.navSidebar {
  height: inherit;
  width: 0px;
  border-right-width: 5px;
  border-right-style: solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Styles For ProductsMenu Component */