.container{
  max-width: 500px;
  padding: 2rem 0 0 0;
}

.list{
  list-style-type: none;
}

.title{
  font-size: 22px;
  letter-spacing: 1px;
  font-family: 'Open Sans';
}

.subtitle{
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans';
  color: #505f79;
}

.label{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Open Sans';
}

.text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans';
  color: #505f79;
}

.checklist{
  list-style-type: none;
}

.checklistItem{
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.checklistText{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans';
  color: #1f242e;
}

.faq{
  background-color: #e4e9ee;
  padding: .75rem 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.icon {
  margin: 4px 4px 0 4px; 
  font-size: 16px;
}

.iconButton{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  background-color: #ecf0f3;
}

.iconButton:hover{
  background-color: lightgray;
}