.CardMain {
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 4px rgba(240, 240, 240, 0.75);
}
.subCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* commercial */
.GridDiv {
  padding: 0 5%;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  text-align: -webkit-left;
}
