@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*
  Box-Shadow: 0px 0px 63px #F0F0F0;
*/

/* common  */
.MuiTypography-root{
  font-family: 'Poppins', sans-serif;
}
.p5 {
  padding: 50px 0px;
}

.mainBtn {
  color: rgb(255, 255, 255);
  background-color: var(--main-color);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.mainBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 54, 102);
  border-radius: 4px;
}

/* bannner */
.bannner {
  width: 60%;
  margin: 0 auto;
}
img {
  width: 100%;
}
.BannerHeader {
  font-size: 70px;
  margin: 0px;
}
.BannerHeaderSmall {
  font-size: 60px;
  margin: 0px;
}
.BannerPera {
  font-size: 20px;
  color: rgb(20, 10, 167);
}
.Link {
  text-decoration: none;
  color: black;
}
.SteeperDiv {
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 23px -2px rgba(230, 230, 230, 0.75);
}


<<<<<<< HEAD
/* Global Material Styling Customization */
=======


/* variables  */
/* color:  */
/* primary-color: #000000
secondary-color: #707070
third-color: #F85276

primary-text: #000000
secondary-text: #B6B6B6

primary-background: #1482D2 //yellow 
secondary-background: #F5AB0C //blue
background-black: 

auto-background: #FFDFD2
life-background: #D4E5FB
travel-background: #FDEDC9
health-background: #FFDAED
/* color:  */

/* font-family
p-fontsize: 24x
header-fontSize: 90px;
small: 16px;
sectionHeader: 36px
*/

/*
primary-font-family:Poppins */
/* font-family */
/* variables  */
>>>>>>> dev
