@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Mui Overriding */
.MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Poppins", sans-serif;
}

/* Common */
.p5 {
  padding: 50px 0px;
}

.mainBtn {
  color: rgb(255, 255, 255);
  background-color: var(--main-color);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.mainBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 54, 102);
  border-radius: 4px;
}

/* bannner */
.bannner {
  width: 60%;
  margin: 7% auto 5%;
}
img {
  width: 100%;
}
.BannerHeader {
  font-size: 70px;
  margin: 0px;
  line-height: 70px;
}
.BannerHeaderSmall {
  font-size: 60px;
  margin: 0px;
}
.BannerPera {
  font-size: 20px;
  color: #74769e;
}
.Link {
  text-decoration: none;
  color: black;
}
.SteeperDiv {
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 23px -2px rgba(230, 230, 230, 0.75);
}

/* Paper */
.paper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 63px #f0f0f0;
  border-radius: 25px;
}

/* Custom Input */
.custom-input {
  height: 52px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 25px;
}

/* Font Weight */
.font-500 {
  font-weight: 500;
}
.font-400 {
  font-weight: 400;
}
.font-600 {
  font-weight: 600;
}

/* variables  */
/* color:  */
/* primary-color: #000000
secondary-color: #707070
third-color: #F85276

primary-text: #000000
secondary-text: #B6B6B6

primary-background: #1482D2 //yellow 
secondary-background: #F5AB0C //blue
background-black: 

auto-background: #FFDFD2
life-background: #D4E5FB
travel-background: #FDEDC9
health-background: #FFDAED
/* color:  */

/* font-family
p-fontsize: 24x
header-fontSize: 90px;
small: 16px;
sectionHeader: 36px
*/

/*
primary-font-family:Poppins */
/* font-family */
/* variables  */
