/* common  */
.p5 {
  padding: 50px 0px;
}

.mainBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(47, 133, 214);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.mainBtn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(4, 54, 102);
  border-radius: 4px;
}

/* bannner */
.bannner {
  width: 60%;
  margin: 0 auto;
}
img {
  width: 100%;
}
.BannerHeader {
  font-size: 70px;
  margin: 0px;
}
.BannerHeaderSmall {
  font-size: 60px;
  margin: 0px;
}
.BannerPera {
  font-size: 20px;
  color: rgb(20, 10, 167);
}
.Link {
  text-decoration: none;
  color: black;
}
.SteeperDiv {
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 23px -2px rgba(230, 230, 230, 0.75);
}
