* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #ffffff;
}
label {
  margin: 20px 0px;
}

/* hi ronz broh have a look ; */
.css-1fyofxy-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1290px) {
  /*Tablets [601px -> 1200px]*/
  .SubAuto {
    margin-top: 10%;
  }
  .responsiceMiddle {
    text-align: center;
    margin: 0 auto;
  }
  .responsiceMiddle p {
    padding: 0px;
    margin: 20px 0px;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
