* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #ffffff;
}
label {
  margin: 20px 0px;
}

/* hi ronz broh have a look ; */
.css-1fyofxy-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

a {
  text-decoration: none;
}

/* media section  */

@media (min-width: 1441px) {
  /*Tablets [601px -> 1200px]*/
  .SecondHeaderTitle {
    font-size: 70px;
  }
  .SubAuto {
    /* margin-top: 10%; */
  }
  .responsiceMiddle {
    margin: 0 auto;
  }
  .responsiceMiddle p {
    padding: 0px;
    margin: 20px 0px;
  }
  .BannerPera {
    font-size: 20px;
    color: #74769e;
  }

  .BannerHeader {
    font-size: 80px;
    margin-bottom: 5%;
    line-height: 70px;
  }
  .BannerHeaderSmall {
    font-size: 60px;
    margin: 0px;
  }
  .insuranceCardMT {
    margin-top: "1%";
  }
  .appHeader {
    font-size: 40px;
    /* text-align: center; */
  }
}

@media (min-width: 1291px) and (max-width: 1440px) {
  /*Tablets [601px -> 1200px]*/
  .SecondHeaderTitle {
    font-size: 50px;
  }
  .insuranceCardMT {
    margin-top: "1%";
  }
  .SubAuto {
    /* margin-top: 10%; */
  }
  .responsiceMiddle {
    margin: 0 auto;
  }
  .responsiceMiddle p {
    padding: 0px;
    margin: 20px 0px;
  }
  .BannerPera {
    font-size: 20px;
    color: #74769e;
  }

  .BannerHeader {
    font-size: 70px;
    margin-bottom: 5%;
    line-height: 70px;
  }
  .BannerHeaderSmall {
    font-size: 60px;
    margin: 0px;
  }
  .appHeader {
    font-size: 210%;
    font-weight: bold;
    margin: 0;
    line-height: 100%;
  }
  .ThirdHeaderPera {
    padding: 0% 10% 0% 0%;
    width: 98%;
  }
}

@media (min-width: 886px) and (max-width: 1290px) {
  .SecondHeaderTitle {
    font-size: 45px;
  }
  /*Tablets [601px -> 1200px]*/
  .insuranceCardMT {
    margin-top: "2%";
  }
  .SubAuto {
    /* margin-top: 10%; */
  }
  .responsiceMiddle {
    margin: 0 auto;
  }
  .responsiceMiddle p {
    padding: 0px;
    margin: 20px 0px;
  }
  .BannerPera {
    font-size: 18px;
    color: #74769e;
  }

  .BannerHeader {
    font-size: 57px;
    margin-bottom: 5%;
    line-height: 70px;
  }
  .BannerHeaderSmall {
    font-size: 60px;
    margin: 0px;
  }
  .appHeader {
    font-size: 180%;
    font-weight: bold;
    padding: 0% 10% 0% 0%;
    line-height: 100%;
  }
  .ThirdHeaderPera {
    padding: 0% 10% 0% 0%;
    width: 90%;
  }
  /* .appImage {
    display: none;
  } */
}

@media (min-width: 601px) and (max-width: 885px) {
  .SecondHeaderTitle {
    font-size: 37px;
  }
  .insuranceCardMT {
    margin-top: "1%";
  }
  .BannerHeader {
    font-size: 38px;
    margin-bottom: 5%;
    line-height: 40px;
  }
  .BannerPera {
    font-size: 16px;
    color: #74769e;
  }
  .BannerHeaderSmall {
    font-size: 60px;
    margin: 0px;
  }
  .appHeader {
    font-size: 150%;
    line-height: 35px;
    font-weight: bold;
    /* text-align: center; */
  }
  .ThirdHeaderPera {
    font-size: 80%;
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 600px) {
  .SecondHeaderTitle {
    font-size: 28px;
  }
  .ThirdHeaderPera {
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 0% 2%;
  }
  .insuranceCardMT {
    margin-top: "1%";
  }
  .BannerHeader {
    font-size: 28px;
    margin-bottom: 5%;
    line-height: 30px;
  }
  .BannerPera {
    font-size: 12px;
    color: #74769e;
  }
  .BannerHeaderSmall {
    font-size: 60px;
    margin: 0px;
  }
  .appHeader {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
  }
  .appImage {
    display: none;
  }
  .step {
    margin-top: 8% !important;
  }
  .step:first-child {
    margin-top: 0% !important;
  }
}
@media only screen and (max-width: 425px) {
  .SecondHeaderTitle {
    font-size: 18px;
  }
  .ThirdHeaderPera {
    font-size: 12px;
    width: 100%;
  }

  .insuranceCardMT {
    margin-top: "1%";
  }
  .BannerHeader {
    font-size: 20px;
    margin-bottom: 5%;
    line-height: 35px;
  }
  .BannerPera {
    font-size: 10px;
    color: #74769e;
  }
  .BannerHeaderSmall {
    font-size: 25px;
    margin: 0px;
  }
  .appHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .appImage {
    display: none;
  }
}

@media (min-width: 885px) and (max-width: 1280px) {
  .appImage {
    /* display: none; */
  }
}
