.brandname {
  /* width: inherit; */
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 5px;
  background-color: white;
}
.brandname:hover {
  border: 1px solid #1482d2;
}
.right {
  position: absolute;
  right: -4px;
  top: -6%;
  background: #1482d2;
  color: white;
  padding: 1px 3px;
  border-radius: 50%;
  font-size: 13px;
  height: 20px;
  width: 20px;
}
.search {
  width: 100%;
  padding: 2%;
  margin: 1% 0%;
}
.label {
  display: block;
  text-align: left;
  padding: 0 px;
  margin: 0;
}
